@import "tailwindcss";

/* Custom styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* smooth continuous slide motion */
/* skill section on landing page  */
@keyframes scrollX {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* adjust speed by changing % */
}

.animate-scroll-x {
  display: flex;
  animation: scrollX 18s linear infinite; /* slow + premium flow */
}

/* Hamburger menu animation */
/* slide in from right animation */

@keyframes slideInRight {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

.animate-slide-in {
  animation: slideInRight 0.25s ease-out;
}

